services:
  mariadb:
    build:
      context: ./requirements/mariadb
    env_file: .env
    volumes:
      - mariadb_data:/var/lib/mysql
    networks:
      - inception
    restart: always

  wordpress:
    build:
      context: ./requirements/wordpress
    depends_on:
      - mariadb
    env_file: .env
    volumes:
      - wordpress_data:/var/www/html
    networks:
      - inception
    restart: always

  nginx:
    build:
      context: ./requirements/nginx
    depends_on:
      - wordpress
    ports:
      - "${NGINX_PORT}:443"
    env_file: .env
    volumes:
      - wordpress_data:/var/www/html
    networks:
      - inception
    restart: always

volumes:
  wordpress_data:
    name: wordpress_data
    driver: local
    driver_opts:
      device: /home/theaux/Inception/data/wordpress
      o: bind
      type: none
  mariadb_data:
    name: mariadb_data
    driver: local
    driver_opts:
      device: /home/theaux/Inception/data/mariadb
      o: bind
      type: none

networks:
  inception:
    driver: bridge
